/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: consensus assembly mode (mixed)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for mixed consensus assembly mode for nw-page/VAPER.

    Usage:
      nextflow run nw-page/VAPER \\
        -profile <docker/singularity/podman/conda> \\
        --input <SAMPLESHEET> \\
        --cons_mode mixed \\
        --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Consensus assembly mode: mixed'
    config_profile_description = 'Config for mixed consensus assembly mode.'

    cons_allele_qual  = 20
    cons_allele_ratio = 0.8
    cons_allele_depth = 20
    cons_max_depth    = 200
}
