/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: reference selection mode (none)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for none reference selection mode for nw-page/VAPER.

    Usage:
      nextflow run nw-page/VAPER \\
        -profile <docker/singularity/podman/conda> \\
        --input <SAMPLESHEET> \\
        --ref_mode standard \\
        --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Reference selection mode: none'
    config_profile_description = 'Config for none reference selection mode.'
}
