/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: reference selection mode (standard)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for standard reference selection mode for nw-page/VAPER.

    Usage:
      nextflow run nw-page/VAPER \\
        -profile <docker/singularity/podman/conda> \\
        --input <SAMPLESHEET> \\
        --ref_mode standard \\
        --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Reference selection mode: standard'
    config_profile_description = 'Config for standard reference selection mode.'

    ref_set              = "${projectDir}/assets/reference_sets/*.jsonl.gz"
    max_reads            = 2_000_000
    ref_min_query_cov    = 0.10
    ref_min_ref_cov      = 0.50
    ref_denovo_contigcov = 10
    ref_denovo_contiglen = 300
    ref_denovo_gsize     = '1.0M'
    ref_denovo_depth     = 30
}
