/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: reference selection mode (kitchen-sink)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for kitchen-sink reference selection mode for nw-page/VAPER.

    Usage:
      nextflow run nw-page/VAPER \\
        -profile <docker/singularity/podman/conda> \\
        --input <SAMPLESHEET> \\
        --ref_mode kitchen-sink \\
        --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Reference selection mode: kitchen-sink'
    config_profile_description = 'Config for kitchen-sink reference selection mode.'

    // Leaves all ref_* parameters as provided by user/config
    max_reads = 2_000_000
}
